
#page-landing #container{
    width: 100vw;
    height: 100vh;
}
#page-landing  #container #header{
    background: var(--color-primary);

    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    margin-bottom: 3rem;
}

#page-landing #container{
    color: var(--color-text-in-primary);
}

.logo-container img{
    height: 10rem;
}

.logo-container{
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2{
    font-weight: 500;
    font-size: 2.6rem;
}

.header_frase{
    font-weight: 500;
    font-size: 2.4rem;
    font:  Poppins;
    margin: 8rem 4rem;
    color: var(--color-text-base);
}

.header_frase strong{
    font-size: 3.6rem;
}

.hero_image{
    width: 100%;
}

.buttons_container{
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons_container a {
    width: 22rem;
    height: 25.4rem;
    border-radius: 0.8rem;
    margin-right: 1.6rem;

    font: 800 2.4rem Archivo;

    display: flex;
    flex-direction: column;

    text-decoration: none;

    color: var(--color-button-text);

    transition: background 0.2s;
}
.buttons_container a img{
    width: 6rem;
    margin: 2.4rem;
}

.buttons_container a p{
    width: 15rem;
    margin-top: 4rem;
    margin-left: 2.5rem;
    text-align: center;
    font-size: 2.5rem;
}

.buttons_container a.study{
    background: var(--color-primary-lighter);
}
.buttons_container a.study:hover{
    background: var(--color-primary-light);

}
.buttons_container a.give_classes{
    background: var(--color-secondary);
    margin-right: 0;
}
.buttons_container a.give_classes:hover{
    background: var(--color-secondary-dark);
}

.total_connection{
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    margin-left: 10rem;
    margin-top: 5rem;
}
.total_connection img{
  margin-left: 0.8rem;
}

@media (max-width:699px){
    :root{
        font-size: 40%;
    }
}

@media (min-width: 1100px){
    #page-landing #container{
        max-width: 100vw;
    }
    #page-landing #container #header{
        max-width: 100vw;
        display: grid;
        grid-template-columns: 1100px(2fr 1fr 2fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "proffy image image";
    }

    .logo-container{
        grid-area: proffy;
        text-align: initial;
        align-self: center;
        margin: 0;
    }
    .logo-container img{
        height: 127px;
    }
    .hero_image{
        grid-area: image;
        height: 350px;
    }
    .buttons_container{
        grid-area: button;
        justify-content: flex-start;
        margin: 0;
    }
    .total_connection{
        grid-area: texting;
        justify-self: end;
        font-size: 1.2rem;
    }
}


